<!DOCTYPE html>
<html lang="es"> <!--Cambiamos a español-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Mi primer App en Flask</title> <!--Modificamos el Título-->
</head>
<body>

    <header>
        <img src="{{url_for('static', filename='logo1.png')}}" alt="logo1" class="logo1">
        <h1>Directorio Telefónico - Mi primer aplicación en Flask</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Destinos</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <!-- <main>
        <section>
            <h2>Destinos Populares</h2>
            <div class="destino">
                <img src="destino1.jpg" alt="Destino 1">
                <h3>Destino 1</h3>
                <p>Descripción del destino 1.</p>
                <a href="#">Comprar boleto</a>
            </div>
            <div class="destino">
               <img src="destino2.jpg" alt="Destino 2"> 
                <h3>Destino 2</h3>
                <p>Descripción del destino 2.</p>
                <a href="#">Comprar boleto</a>
            </div>
            Más destinos aquí
        </section>
    </main> -->
    <div>    
        <div style="width: 60%; float:left; text-align:center;">    
            <h2>Datos completos de la persona</h2>  
            <table border = "1" style = "width: 100%;">
                <tr>
                    <td>Nombre</td> 
                    <td>Apellido</td>
                    <td>Apodo</td>
                    <td>Teléfono</td>
                    <td>Dirección</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>   
        </div>  
        <div style="width: 20%; float:right; margin-right: 10%; text-align:center;"> 
            <h2>Personas</h2> 
            <table border = "1" style = "width: 100%;">
                <tr>
                    <td></td>
                    <td><button name = "ver">Ver</button></td>
                    <td><button name = "editar">Editar</button></td>
                    <td><button name = "eliminar">Eliminar</button></td>
                </tr>
                <tr>
                    <td><button name = "agregar">Agregar</button></td>
                </tr>
            </table>
        </div>
    </div>
    
    <!-- <footer>
        <p>&copy; 2024 Venta de Boletos de Avión</p>
    </footer> -->
</body>
</html>